[submodule "cpp/factorial/external/googletest"]
	path = cpp/factorial/external/googletest
	url = https://github.com/google/googletest.git
[submodule "cpp/twosum/external/googletest"]
	path = cpp/twosum/external/googletest
	url = https://github.com/google/googletest.git
